@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Hello world!</h2>
    <h2>Raquel's MVC Start</h2>
    <h2>Shawn's Update</h2>
</body>
</html>